body {
    background-color: rgb(0, 0, 0);
  }
  h1 {
    color: rgb(37, 37, 122);
  }
  h3 {
    color: #d3940c;
  }
  #navigation {
    padding: 100px;
    text-align: center;
    background: #d3940c;
    color: white;
  }
  #navigation {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 300px;
    text-decoration: none;
  }
  .responsive {
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
  }
  .responsive iframe {
      position: absolute;
      width: 82%;
      height: 100%;
  }
  #navigation li {
    list-style: none;
    display: block;
    float: left;
    margin: 1em;
}
/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }

.tagline {  
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    padding: 14px 300px;
    text-align: left;
  }